#location-name {
    font-size: 250%;
    font-weight: bolder;
    color: cornflowerblue;
    padding-bottom: 10px;
}

#temperature-in-celcious {
    font-size: 150%;
    font-weight: 200;
    color: brown;
}

#temperature-in-farenheight {
    font-size: 150%;
    font-weight: 200;
    color: brown;
}

#weather-info {
    font-size: 150%;
    font-weight: 200;
    color: brown;
}

#wind-speed {
    font-size: 150%;
    font-weight: 200;
    color: brown;
}